.gradient-custom-2 {
    /* fallback for old browsers */
    background: #FFBD00;
    }
    
   
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .h-150 {
        
    }
    
  .display-1 {
    position: absolute;
    top: 0;
  }