# Remove .php extension
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Remove index.php 
DirectoryIndex index.php
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php$ / [L,R=301,NC]


RewriteRule ^getplan/([^/]*)$ getplan.php?plan=$1 [L,QSA]

ErrorDocument 404 /404
